{% load static wagtailuserbar %}
{% load bootstrap4 %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>
  {% compress css %}
    <link
      href="{% static 'theme.scss' %}"
      rel="stylesheet"
      type="text/x-scss"
    >
  {% endcompress %}
</head>

<body class="bg-dark text-light">
{% wagtailuserbar %}
{% bootstrap_messages %}
<nav class="navbar navbar-dark">
  <a
    class="navbar-brand"
    href="/"
  >
    Yngve Hoiseth
  </a>
</nav>
{% block content %}{% endblock %}
</body>
</html>
