[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
isort = "*"
mypy = "*"
flake8 = "*"
pre-commit = "*"
django-stubs = "*"

[packages]
wagtail = "*"
django-bootstrap4 = "*"
django-compressor = "*"
django-libsass = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
